<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <header>

        <h1>My Products
            <p>List of all products</p>
        </h1>
    </header>
    <main>
        <h1>the add product page</h1>
                <form action="/admin/add-product" method="POST">
                <input type="text" name="title">
                <button type="submit">Add Product</button>
                </form>
    </main>
</body>
</html>